<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<body>
	<header class="container shadow-sm">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand w-75" href="#"><img
					src="/imgs/fiLogo.png" alt="logo de la Facultad de ingeniería" />
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Institución</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Secretarias</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Servicios</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Noticias</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<hgroup class="text-center">
			<h5 class="text-secondary">Flammam Tvam Hoc Foco Accende lat.
				"Enciende tu antorcha en este fuego"</h5>
		</hgroup>
		<div class="container py-3">
			<div class="row">
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center fs-5 bg-info list-group-item itemsh">
							ALUMNOS</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">AULAS VIRTUALES</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">INSTRUCCIONES SIU</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">Ver mas..</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center list-group-item fs-5 bg-success">
							EGRESADOS</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">DEFENSA DE TESIS</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">TRAMITACION DE TITULO</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">Ver mas..</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center list-group-item fs-5 bg-dark">
							DOCENTES</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">NOVEDADES</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">CONCURSO</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">Ver mas..</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center list-group-item fs-5 bg-danger">
							POSGRADO</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">NOVEDADES</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">CARRERAS</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">Ver mas..</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center list-group-item fs-5 bg-secondary">
							INVESTIGACIÓN</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">NOVEDADES</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">SECTER</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">Ver mas..</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-2 col-md-4 py-2">
					<ul class="list-unstyled list-group">
						<li
							class="text-light p-1 text-center list-group-item fs-5 bg-warning">
							INGRESANTES</li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">INGRESO 2024</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">LU 2024</a></li>
						<li class="listNav text-secondary list-group-item"><a
							class="link-dark link-opacity-75-hover link-underline-opacity-0"
							href="#">TFC 2do Cuatrimestre</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

</body>
</html>